.page-link{
    color: #000 !important;
    border-radius: 8px !important;
    background: #F8F9F7 !important;
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
    font-size: 110%;
}

.page-link:hover{
    background: #51BC4A !important;
    color: #fff !important;
}


#active{
    background: #51BC4A !important;
    color: #fff !important;
}
/* background: #51BC4A !important; */