
ul li{
    list-style: none;
    padding: 3px;
}

.copyright{
    margin-bottom: 0;
    padding-bottom:0;
}
footer{
    margin-top: 10vh;
    height: 58vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #4F4F4F !important;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.main{
    padding-top: 9vh;
}

.submain{
    width: 100% !important;
}


.heading{
    color: #BDBDBD;
    font-size: 18px !important;
    padding-bottom: 18px;
}

.sub_email{
    width: 427.39px !important;
    height: 40px !important;
}

.sub_button{
    width: 112.01px !important;
    height: 40px !important;
}