.btnGreen {
  background: #51bc4a;
  /* System Green */

  border: 1px solid #51bc4a;
}

.headP {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 1vmin);
  line-height: 18px;
  /* identical to box height, or 75% */

  color: #000000;
}

.dropdown-toggle::after {
  margin-left: 3em;
}

.sortBy {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: calc(10px + 1vmin);
  line-height: 18px;
}
