.height{
   margin-top: 65px; 
}

.bottom{
   margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
   .height{
        margin-top: 0px; 
     }
   .bottom{
      margin-bottom: 150px;
   }
}

.containe {
   margin: 0px;
   display: flex;
   flex-direction: column;
   height: 100vh;
}