.font_container {
  font-size: 18px;
  padding-left: 15px;
  margin: 0;
  padding-right: 15px;
  color: white;
  background-color: #12ad2b;
}

.radius_container {
  border-radius: 6px;
  overflow: hidden;
  width: 118px;
}

.number_container {
  margin: 0;
  padding-right: 25px;
  color: #12ad2b;
  font-weight: 600;
  font-size: 17px;
}
.btn {
  color: white;
  background-color: #12ad2b;
  width: 100px;
}

.card-text {
  font-size: 25px;

  font-weight: 650;
}

.Off_container{
    font-size:13px;
   background-color:#b100cd;
   padding-right:10px;
   color: white;
}

.fabDiv
{
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
   z-index: 999;
  width:100%;
}