.cardP {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #313131;
}

.borderLeftTop{

}

.bgblue{
    background: #E3E8FF;
    border: 1px solid #E3E8FF;
    border-bottom-left-radius: 10px;
}
.bgOrange{
    background: #FFEFE3;
    border: 1px solid #FFEFE3;
}
.bgGreen{
    background: #E3FFEC;
    border:1px solid #E3FFEC; 
}

.bgPurple{
    background: #FDE3FF;
    border:1px solid #FDE3FF; 
}
.roundborder{
    border-radius: 60px 0px 0px 60px;
    overflow: hidden;
}

.onHoverEffect:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 0.3s ease-in-out;
}