.heading{
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
}

.subheading{
    font-weight: 500;
    font-size: 22px;
}

.sign{
    font-weight: 700;
    font-size: 22px;
    color: #51BC4A;
}

.inputs{
    margin-top: 40px;
}
.lable{
    font-weight: 500 !important;
    font-size: 16px !important;
}


.main{
   /* border: 1px solid black; */
   height: 80vh !important;
   /* overflow: hidden; */
   margin: 2.5% 0 ;
}

.backimg{
    margin-top: 40px;
}

input{
    width: 666px;
    height: 56px;
    background: #F8F9F7;
    padding: 12px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
}

.inputs{
    margin-left: 50px;
}

.button{
    background: #51BC4A;
    width: 666px !important;
    height: 56px !important;
    margin-top: 2%;
}

.button:hover{
    background: #4dc444;
}
