
.footer{
    background-color: #4F4F4F;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.footer_heading{
    color: #BDBDBD;
    font-size: 18px;
    padding-bottom: 18px;
}

ul li{
    list-style: none;
}


.icon_link{
    color: #FFFFFF !important;
}

.sub_button{
    background: #51BC4A !important;
    color: #FFFFFF !important;
    font-weight: 600 !important;
}