
.footer{
    background-color: #4F4F4F;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.footer_heading{
    color: #BDBDBD;
    font-size: 18px;
    padding-bottom: 18px;
}

ul li{
    list-style: none;
}
