
.outer_navli{
    /* padding-top: 50px;    */
    /* padding-left: 40px; */
    
}

.navlist{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: 500;
    font-size:15px
}

.navlist:hover{
    color: #51BC4A;
}

.navli_category{
    font-size:20px;
    text-decoration: none;
    list-style: none;
}
.linone{
    text-decoration: none;
    list-style: none; 
}

.bgWhite{
    background:#f8f9f7;
}
.backgroundWhite{
    background:#ffff;
}
