@media screen and (max-width : 768px) {
    .text{
        font-size: 2rem;
        line-height: 1.5;
    }
    .productSliderMain .image-gallery-slide {
        padding: 1rem;
    }
    .crossTextRelated{
        font-size: 0.7rem;
    }
    .card-title{
        font-size: 1rem;
    }
    .card-text{
        font-size: 0.8rem;
    }
    .Off_container{
        padding-right: 0;
    }
    .card-img-top{
        margin-top: 2.5rem;
    }
    
}