
/*Order Table Heading */
.orders_Heading thead tr th {
    width: 100px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #638a65;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:  #F8F9F7;
    text-align: center;
}

