
/*Order Table Heading */
.orders_Heading thead tr th {
    width: 90px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #638a65;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:  #F8F9F7;
    text-align: center;
}

.order_image{
    height:73x;
    width:113px;
}

.order_Id{
    font-size: 13px;
}
.approved_text{
    color:#51BC4A;
    font-weight:600;
}
.pending_text{
    color:#B54ABC;
    font-weight:600;
}