.font_container {
  font-size: 16px;
  padding-left: 12px;
  margin: 0;
  padding-right: 15px;
  color: white;
  background-color: #51BC4A !important ;
}

.red{
  color: red;
  
}
.add_button:hover{
  background: #51BC4A !important;
  color: white !important;
}
input:focus {
  outline:none;
}
.radius_container {
  border-radius: 6px;
  overflow: hidden;
  width: 118px;
}

.number_container {
  margin: 0;
  padding-right: 25px;
  color: #51BC4A;
  font-weight: 600;
  font-size: 15px;
}
.btn1 {
  color: white;
  background-color: #51BC4A;
  width: 100px;
  height:32px;
  font-weight:600
}

.card-text {
  font-size: 24px;

  font-weight: 550;
}

.Off_container{
    font-size:14px;
   background-color:white;
   padding-right:10px;
   color: black;
}

.fabDiv
{
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
   z-index: 999;
  width:100%;
}
.kg_container{
  font-size: 14px;
}

a:hover{
  color: #51BC4A !important;
}

.heart_fav_icon{
  font-size:19px;
  color:#C3CFC5;
}

.carrot_background{
  background-color: #fbf9f7;
}

.img_data{
  height:150px;
  width: 200px;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-image{
  height: 60%;
  object-fit: cover;
}

.card-image-hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
  height: 60%;
  object-fit: cover;
}

.product-card{
  width: 18rem;
  height:100%;
  background-color: white;
  overflow: hidden;
}

@media only screen and (max-width: 576px) {
  .product-card{
    width: 13rem;
    height:100%;
    background-color: white;
  }
}

.unit-container{
  width: 2rem;
  height:100%;
  text-align: center;
  background-color: white;
}

.width-20{
  width: 20%;
}

.width-40{
  width: 40%;
}

.full-height{
  height: 100%;
  background-color: #0d6efd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.full-height:hover{
  background-color: #2b7ffd;
}

.unit-inp{
  padding-top: 11px;
}

.cart-btn{
  width: 30%;
  padding: 12px;
  background-color: #51BC4A;
  border-color: #51BC4A;
}

.cart-btn:hover{
  background-color: #2eab25;
  border-color: #2eab25;
}

.cart-btn-remove {
  width: 30%;
  padding: 12px;
  background-color: #EB5757;
  border-color: #EB5757;
}

.cart-btn-remove:hover{
  background-color: #d73a3a;
  border-color: #d73a3a;
}

.trash-icon{
  font-size: 24px;
}



.id-container{
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add_quantity_container{
  background-color: rgba(46, 204, 113, .7);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.minus_quantity_container{
  background-color: rgba(11, 127, 171, .7);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.minus_quantity_container:hover{
  background-color: rgba(11, 127, 171, 1);
}

.add_quantity_container:hover{
  background-color: rgba(46, 204, 113, 1);
}

.ant-card-body{
  padding-bottom: 10px !important;
}