/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select:hover{
    cursor: pointer;
}


.cancel_button{
    background: #F8F9F7;
    color: #51BC4A;
    border-color: #51BC4A;
}