.ant-avatar{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ant-avatar-string {
    transform: scale(2.3) translateX(-50%) !important;
}

